@import 'reset.scss';
@import 'variables.scss';


.container{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

body {
	font-family: $font;
}
.title{
	font-family: $font2;
		font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 150%;
	color: $black;
	/* or 68px */
}

.header {
	padding: 30px 10px 0px;
	background-color: $white;
	position: relative;

	// .header__top

	&__top {
		display: grid;
		align-items: center;
		
		grid-template-columns: 0px repeat(5, auto);
		grid-gap: 20px;
		grid-row-gap: 50px;
	}
	

	// .header__logo

	&__logo {
		margin-right: 51px;
	}

	// .header__geo

	&__geo {
		display: flex;
		align-items: flex-start;
		max-width: 240px;
	}

	//.header__time

	&__time {
		display: flex;
		align-items: center;
	}

	// .header__text

	&__text {
		font-family: $font;
		color: $black;
		font-size: 15px;
		line-height: 1.5;
		text-decoration: none;
		font-weight: 400;
	}

	// .header__phone

	&__phone {
		display: flex;
		align-items: center;
	}
	.phone__nums{
		display: flex;
		flex-direction: column;
	}

	// .header__button

	&__button {
		max-width: 177px;
	}
	&__nav{
		grid-column: 1/6;
	}
	&__menu{
		display: grid;
		grid-template-columns: repeat(2, auto);
		justify-content: space-between;
		align-items: center;
	}
	&__search{
		display: flex;
		align-items: center;
		
	}
}
.search{
	&__input{
		outline: none;
		margin-right: 10px;
		border:1px solid $grey;
		border-radius: 5px;
		padding: 7px;
		color: $black;
		font-size: 15px;
		font-weight: 500;

	}
}
.menu{
	display: flex;
	flex-flow: row wrap;
	
	&__item{
		line-height: 1.5;
		&.has-children{
		position: relative;

		
		
		}
	}
	&__link{
		text-decoration: none;
		font-family: $font;
		font-weight: 400;
		font-size: 15px;
		color: $black;
		transition:color 0.3s ease;
		display: inline-block;
		padding: 19px 15px;
		&:hover{
			color: $orange;
		}
	}
}
.sub-menu{
	transition: display 0.4s ease;
	display: none;
	position: absolute;
	width: 220px;
	height: auto;
	left: 0;
	background-color: $white;
	z-index: 200;
	border-top: 2px solid $orange;
	border-bottom: 1px solid $orange;
	top: 100%;
	&.active{
	display:block;
	}
	&__item{
		position: relative;
	}
	&__link{
		text-decoration: none;
		font-family: $font;
		font-weight: 400 !important;
		color: $black;
		transition:color 0.2s ease ;
		display: inline-block;
		padding: 10px 15px;
		&:hover{
			color:$orange;
		}
	}
}
.logo {
	    max-width: 212px;
    width: 100%;
    max-height: 55px;
    height: 100%;
    min-width: 80px;
}
.icon {
	margin-right: 15px;
}
.geo {

	// .geo__text

	&__text {
	}
}
.text {
}
.button {
	cursor: pointer;
	padding: 9px 29px;
	background-color: $orange;
		border:none;
		border-radius: 23px;
		color: $white;
		font-family: $font;
		font-size: 15px;
		transition: transform 0.3s ease;
	&:active{
		transform:scale(.9);
	}
}




.main-screen {
	padding: 48px 10px;
	background: url('../img/main/background.png') center center / cover no-repeat;
	&__content {
		display: grid;
		grid-template-columns: 2fr 1fr;
		align-items: center;
		grid-gap: 40px;
	}
	&__header {
		display: flex;
		flex-flow:column nowrap;

	}
	&__title {
		display: inline-block;
		margin: 0px 0px 30px 0px;
	color: $white;
	}
	&__subtitle {
		font-family: $font;
		font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */
color: #EEEEEE;
	}
	&__form {
		background-color: $white;
		padding: 30px 30px;
		border-radius: 10px;
		max-width: 357px;
	}
}
.title-sm{
	font-family: $font2;
		color: $black;
		font-size: 30px;
		font-weight: bold;
		line-height: 1.5;
}
.form {
	
	&__title {
		display: inline-block;
		margin-bottom: 30px;

	}
	&__subtitle {
		font-family: $font;
		font-size: 17px;
		font-weight: 400;
		color: $black;

		display: inline-block;
		margin-bottom: 20px;
	}
	&__inner {
		display: flex;
		flex-direction: column;
	}
	&__input {
		outline: none;
		border:1px solid $grey;
		border-radius: 5px;
		font-family: $font;
		font-size: 15px;
		color:$grey;
		padding: 15px;
		margin-bottom: 20px;
		&.error{
			border:1px solid red;
			color: red;
		}
		
	}
	
	&__politics {
		font-family: $font;
		font-size: 15px;
		color: $grey;
		font-weight: 300;
		display: inline-block;
		margin-bottom: 20px;
	}

	&__link {
		text-decoration: none;
		font-family: $font;
		font-size: 15px;
		color: $orange;
		font-weight: 300;

	}
	&__btn {

	}
}
.btn-sm {
	cursor: pointer;
	border:none;
	outline:none;
	max-width: 130px;
	padding: 10px;
	border-radius:30px;
	background-color: $orange;
	color: $white;
	font-family: $font;
	font-size: 18px;
	text-align: center;
	transition: transform 0.3s ease;
	&:active{
		transform:scale(.9);
	}
}



@import 'media.scss';
